## POSTTEST 4

## NAMA : NOVITASARI MALISAN

## NIM : 210106133

In [6]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [7]:
df = pd.read_csv('imdb.csv')
df

,Name,Date,Rate,Votes,Genre,Duration,Type,Certificate,Episodes,Nudity,Violence,Profanity,Alcohol,Frightening
0,No Time to Die,2021,7.6,"107,163","Action, Adventure, Thriller",163.0,Film,PG-13,-,Mild,Moderate,Mild,Mild,Moderate
1,The Guilty,2021,6.3,"64,375","Crime, Drama, Thriller",90.0,Film,R,-,NaN,NaN,Severe,NaN,Moderate
2,The Many Saints of Newark,2021,6.4,"27,145","Crime, Drama",120.0,Film,R,-,Moderate,Severe,Severe,Moderate,Moderate
3,Venom: Let There Be Carnage,2021,6.4,"30,443","Action, Adventure, Sci-Fi",97.0,Film,PG-13,-,NaN,Moderate,Moderate,Mild,Moderate
4,Dune,2021,8.3,"84,636","Action, Adventure, Drama",155.0,Film,PG-13,-,NaN,Moderate,NaN,Mild,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6173,The Human Centipede II (Full Sequence),2011,3.8,"37,492",Horror,91.0,Film,Not Rated,-,Severe,Severe,Severe,Mild,Severe
6174,Double Indemnity,1944,8.3,"150,448","Crime, Drama, Film-Noir",107.0,Film,Passed,-,NaN,Mild,NaN,Mild,Mild
6175,Before the Devil Knows You're Dead,2007,7.3,"100,668","Crime, Drama, Thriller",117.0,Film,R,-,Severe,Moderate,Severe,Severe,Severe
6176,Queen Bees,2021,6.0,887,"Comedy, Drama, Romance",100.0,Film,PG-13,-,NaN,NaN,Mild,Moderate,NaN
6177,Death Race,2008,6.3,"203,578","Action, Sci-Fi, Thriller",105.0,Film,R,-,Mild,Severe,Severe,Mild,Moderate

## INFO DATA

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6178 entries, 0 to 6177
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         6178 non-null   object
 1   Date         6178 non-null   int64
 2   Rate         6178 non-null   object
 3   Votes        6178 non-null   object
 4   Genre        6178 non-null   object
 5   Duration     5877 non-null   float64
 6   Type         6178 non-null   object
 7   Certificate  5728 non-null   object
 8   Episodes     6178 non-null   object
 9   Nudity       4719 non-null   object
 10  Violence     5504 non-null   object
 11  Profanity    5520 non-null   object
 12  Alcohol      5407 non-null   object
 13  Frightening  5320 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 675.8+ KB

## 1. Membagi dataset menjadi training set dan testing set dengan proporsi 70:30

In [9]:
df.shape

(6178, 14)

In [10]:
X = df.iloc[:, : -1]
y = df.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("Dimensi X_train", X_train.shape)
print("Dimensi X_test", X_test.shape)
print("Dimensi y_train", y_train.shape)
print("Dimensi y_test", y_test.shape)

Dimensi X_train (4324, 13)
Dimensi X_test (1854, 13)
Dimensi y_train (4324,)
Dimensi y_test (1854,)

## 2. Melakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler dengan mengcopy dataset terlebih dahulu

In [14]:
min_max = MinMaxScaler()

# Copy Data
copy1 = df
dataCopy_normalization = copy1[["Duration"]]

normalization = min_max.fit_transform(dataCopy_normalization[["Duration"]])

data_normalization = pd.DataFrame(normalization)
data_normalization.columns =["Duration_normalisasi"]

dataCopy_normalization = dataCopy_normalization.join(data_normalization["Duration_normalisasi"]).reset_index()
dataCopy_normalization = dataCopy_normalization.drop("index", axis=1)

print()
print("Data Sebelum dan Sesudah dilakukan normalisasi : \n")
dataCopy_normalization.head(10)

Data Sebelum dan Sesudah dilakukan normalisasi :

   Duration  Duration_normalisasi
0     163.0              0.179287
1      90.0              0.097996
2     120.0              0.131403
3      97.0              0.105791
4     155.0              0.170379
5      30.0              0.031180
6     115.0              0.125835
7       NaN                   NaN
8       NaN                   NaN
9      45.0              0.047884

## 3.Melakukan standarisasi pada dataset dengan membuat copy dataset terlebih dahulu

In [45]:
 #Membuat salinan dataset
data_copy=df.copy()

# memilih atribut yang ingin di standarisasi
attribute_to_standardize = 'Date'

# Inisialisasi StandardScaler
scaler = StandardScaler()

# Standarisasi atribut
data_copy[attribute_to_standardize] = scaler.fit_transform(data_copy[[attribute_to_standardize]])

# Menampilkan atribut 'Date' sebelum dan sesudah standarisasi
print("Atribut 'Date' Sebelum dan Sesudah Standarisasi:\n")
print("Sebelum Standarisasi:\n")
print(data_copy[[attribute_to_standardize]].head(10))
print("\nSesudah Standarisasi:\n")
print(data_copy[[attribute_to_standardize]].head(10))

Atribut 'Date' Sebelum dan Sesudah Standarisasi:

Sebelum Standarisasi:

       Date
0  0.939972
1  0.939972
2  0.939972
3  0.939972
4  0.939972
5  0.939972
6  0.939972
7  0.939972
8  0.939972
9  0.939972

Sesudah Standarisasi:

       Date
0  0.939972
1  0.939972
2  0.939972
3  0.939972
4  0.939972
5  0.939972
6  0.939972
7  0.939972
8  0.939972
9  0.939972

## 4. Lakukan Data cleaning pada data dengan nilai null dengan bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus

Nilai NULL

In [19]:
df.isnull().sum()

Name              0
Date              0
Rate              0
Votes             0
Genre             0
Duration        301
Type              0
Certificate     450
Episodes          0
Nudity         1459
Violence        674
Profanity       658
Alcohol         771
Frightening     858
dtype: int64

Data Bilangan Bulat dengan Strategi Median

In [47]:
Median = SimpleImputer(strategy="median")

df["Date"] = Median.fit_transform(df[["Date"]])

df.isna().sum()

Name              0
Date              0
Rate              0
Votes             0
Genre             0
Duration          0
Type              0
Certificate     344
Episodes          0
Nudity         1182
Violence        531
Profanity       524
Alcohol         614
Frightening     670
dtype: int64

In [22]:
print(df.Date[[10,50,100,200,300,400,500,600,700,800,1000]])

10      2021.0
50      2021.0
100     2021.0
200     2013.0
300     2009.0
400     2021.0
500     1974.0
600     2019.0
700     2005.0
800     2021.0
1000    2011.0
Name: Date, dtype: float64

Data Bilangan Desimal dengan strategi Mean

In [46]:
Mean = SimpleImputer(strategy="mean")

df["Duration"] = Mean.fit_transform(df[["Duration"]])

df.isna().sum()

Name              0
Date              0
Rate              0
Votes             0
Genre             0
Duration          0
Type              0
Certificate     344
Episodes          0
Nudity         1182
Violence        531
Profanity       524
Alcohol         614
Frightening     670
dtype: int64

In [25]:
print(df.Duration[[15,100,200,300,400,500,600,700,800,900,100]])

15      60.000000
100     94.576995
200     60.000000
300     44.000000
400    107.000000
500     23.000000
600    118.000000
700      7.000000
800     58.000000
900    108.000000
100     94.576995
Name: Duration, dtype: float64

Data Tulisan Dengan Startegi Modus

In [58]:
# Daftar kolom yang akan diisi dengan modus
kolom_tulisan = ['Name', 'Genre', 'Votes', 'Type']

# Loop melalui kolom-kolom tersebut dan ganti nilai null dengan modus
for kolom in kolom_tulisan:
    modus = df[kolom].mode()[0]  # Mengambil modus kolom
    df[kolom].fillna(modus, inplace=True)

df.isna().sum()

Name              0
Date              0
Rate              0
Votes             0
Genre             0
Duration          0
Type              0
Certificate     344
Episodes          0
Nudity         1182
Violence        531
Profanity       524
Alcohol         614
Frightening     670
dtype: int64

## 5. Lakukan Data cleaning pada data dengan nilai duplikat

In [34]:
df[df.duplicated()]

print("Jumlah Data Duplikat : ")
df.duplicated().sum()

Jumlah Data Duplikat :

1150

In [35]:
df.drop_duplicates(inplace=True)

hasil = df.reset_index(drop=True)
print("Jumlah data duplicated setelah di drop :")
hasil.duplicated().sum()

Jumlah data duplicated setelah di drop :

0

## 6. Mengganti tipe data salah satu attribute angka

Mengganti tipe data pdays yang sebelumnya int menjadi float

In [37]:
df.dtypes

Name            object
Date           float64
Rate            object
Votes           object
Genre           object
Duration       float64
Type            object
Certificate     object
Episodes        object
Nudity          object
Violence        object
Profanity       object
Alcohol         object
Frightening     object
dtype: object

mengubah float menjadi int karena tidak ada tipe data int

In [38]:

df['Date'] = df['Date'].astype('int64')

print("Tipe data Date sesudah di ubah :")
df.dtypes

Tipe data Date sesudah di ubah :

Name            object
Date             int64
Rate            object
Votes           object
Genre           object
Duration       float64
Type            object
Certificate     object
Episodes        object
Nudity          object
Violence        object
Profanity       object
Alcohol         object
Frightening     object
dtype: object

mengubah tipe data int menjadi string

In [ ]:
df['Date'] = df['Date'].astype('object')

print("Tipe data Date sesudah di ubah :")
df.dtypes

## 7. Melakukan one hot encoding pada dataset

In [41]:
one_encoder = OneHotEncoder(sparse=False)

onehot = one_encoder.fit_transform(df[["Name"]])
df_onehot = pd.DataFrame(onehot)
df_encoder = df.join(df_onehot)
df_encoder.head()

C:\Users\LENOVO\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,Name,Date,Rate,Votes,Genre,Duration,Type,Certificate,Episodes,Nudity,...,4810,4811,4812,4813,4814,4815,4816,4817,4818,4819
0,No Time to Die,2021,7.6,"107,163","Action, Adventure, Thriller",163.0,Film,PG-13,-,Mild,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,The Guilty,2021,6.3,"64,375","Crime, Drama, Thriller",90.0,Film,R,-,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,The Many Saints of Newark,2021,6.4,"27,145","Crime, Drama",120.0,Film,R,-,Moderate,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Venom: Let There Be Carnage,2021,6.4,"30,443","Action, Adventure, Sci-Fi",97.0,Film,PG-13,-,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Dune,2021,8.3,"84,636","Action, Adventure, Drama",155.0,Film,PG-13,-,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0