### POSTTEST 2 KECERDASAN BUATAN

In [24]:
#inisialisasi library pandas 
import pandas as pd
df = pd.read_csv('imdb.csv')
df

,Name,Date,Rate,Votes,Genre,Duration,Type,Certificate,Episodes,Nudity,Violence,Profanity,Alcohol,Frightening
0,No Time to Die,2021,7.6,"107,163","Action, Adventure, Thriller",163.0,Film,PG-13,-,Mild,Moderate,Mild,Mild,Moderate
1,The Guilty,2021,6.3,"64,375","Crime, Drama, Thriller",90.0,Film,R,-,NaN,NaN,Severe,NaN,Moderate
2,The Many Saints of Newark,2021,6.4,"27,145","Crime, Drama",120.0,Film,R,-,Moderate,Severe,Severe,Moderate,Moderate
3,Venom: Let There Be Carnage,2021,6.4,"30,443","Action, Adventure, Sci-Fi",97.0,Film,PG-13,-,NaN,Moderate,Moderate,Mild,Moderate
4,Dune,2021,8.3,"84,636","Action, Adventure, Drama",155.0,Film,PG-13,-,NaN,Moderate,NaN,Mild,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6173,The Human Centipede II (Full Sequence),2011,3.8,"37,492",Horror,91.0,Film,Not Rated,-,Severe,Severe,Severe,Mild,Severe
6174,Double Indemnity,1944,8.3,"150,448","Crime, Drama, Film-Noir",107.0,Film,Passed,-,NaN,Mild,NaN,Mild,Mild
6175,Before the Devil Knows You're Dead,2007,7.3,"100,668","Crime, Drama, Thriller",117.0,Film,R,-,Severe,Moderate,Severe,Severe,Severe
6176,Queen Bees,2021,6.0,887,"Comedy, Drama, Romance",100.0,Film,PG-13,-,NaN,NaN,Mild,Moderate,NaN
6177,Death Race,2008,6.3,"203,578","Action, Sci-Fi, Thriller",105.0,Film,R,-,Mild,Severe,Severe,Mild,Moderate

## 1. Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

In [25]:
# Seleksi atribut yang bertipe angka
atribut_angka = df.select_dtypes(include=['number'])

# Hitung statistik yang diinginkan
statistik = atribut_angka.describe()
# Tambahkan perhitungan kuartil Q1, Q2 (median), dan Q3
statistik.loc['Q1'] = atribut_angka.quantile(0.25)
statistik.loc['Q2'] = atribut_angka.median()
statistik.loc['Q3'] = atribut_angka.quantile(0.75)

print(statistik)

              Date     Duration
count  6178.000000  5877.000000
mean   2005.952574    94.576995
std      15.910248    41.765795
min    1922.000000     2.000000
25%    1998.000000    70.000000
50%    2011.000000   100.000000
75%    2019.000000   116.000000
max    2023.000000   900.000000
Q1     1998.000000    70.000000
Q2     2011.000000   100.000000
Q3     2019.000000   116.000000

## 2. Tampilkan 10 record pertama dari dataset dengan attribute bertipe angka.

In [26]:
df = df.select_dtypes(["float","int"])
df.head(10)

   Date  Duration
0  2021     163.0
1  2021      90.0
2  2021     120.0
3  2021      97.0
4  2021     155.0
5  2021      30.0
6  2021     115.0
7  2021       NaN
8  2021       NaN
9  2021      45.0

## 3. Tampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka. Masukkan informasi tersebut dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin

In [27]:
import pandas as pd

# Membaca dataset
df = pd.read_csv('imdb.csv')

# Informasi jumlah record
jumlah_records = len(df)

# Informasi jumlah attribute
jumlah_attributes = len(df.columns)

# Informasi nama attribute
nama_attributes = df.columns.tolist()

# Informasi jumlah attribute dengan tipe angka
atribut_angka = df.select_dtypes(include=['number'])
jumlah_atribut_angka = len(atribut_angka.columns)

print("Nama Atribut:")
for i, nama in enumerate(nama_attributes, start=1):
    print(f"{i}. {nama}")
print("=" * 40)

# Contoh: Jumlah Atribut
print(f"Contoh:\nJumlah Atribut           = {jumlah_attributes}")
print("=" * 40)

# Tampilkan jumlah atribut dengan tipe angka dengan nomor urut
print("Atribut dengan Tipe Angka:")
for i, atribut in enumerate(atribut_angka.columns.tolist(), start=1):
    print(f"{i}. {atribut}")
print("=" * 40)

# Contoh: Jumlah Atribut dengan Tipe Angka
print(f"Contoh:\nJumlah Atribut dengan Tipe Angka = {jumlah_atribut_angka}")
print("=" * 40)

Nama Atribut:
1. Name
2. Date
3. Rate
4. Votes
5. Genre
6. Duration
7. Type
8. Certificate
9. Episodes
10. Nudity
11. Violence
12. Profanity
13. Alcohol
14. Frightening
========================================
Contoh:
Jumlah Atribut           = 14
========================================
Atribut dengan Tipe Angka:
1. Date
2. Duration
========================================
Contoh:
Jumlah Atribut dengan Tipe Angka = 2
========================================

## 4. Tampilkan nilai dataset pada baris dimulai dengan 3 digit NIM akhir hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan ke 2 metode slice

### - Menggunakan iloc untuk slicing

In [32]:
# Menggunakan iloc untuk slicing
df = pd.read_csv('imdb.csv')
slice = df.iloc[133:, 3:]
slice

,Votes,Genre,Duration,Type,Certificate,Episodes,Nudity,Violence,Profanity,Alcohol,Frightening
133,"208,457","Action, Adventure, Fantasy",NaN,Series,TV-14,7,NaN,Moderate,Mild,NaN,Moderate
134,"201,983",Comedy,22.0,Series,TV-MA,157,Moderate,Mild,Severe,Severe,Mild
135,No Votes,"Drama, Horror, Thriller",88.0,Film,NaN,-,No Rate,No Rate,No Rate,No Rate,No Rate
136,"39,602",Comedy,22.0,Series,TV-14,113,Mild,Mild,Mild,Mild,NaN
137,"22,186",Drama,60.0,Series,TV-14,76,Mild,Mild,Mild,Mild,Mild
...,...,...,...,...,...,...,...,...,...,...,...
6173,"37,492",Horror,91.0,Film,Not Rated,-,Severe,Severe,Severe,Mild,Severe
6174,"150,448","Crime, Drama, Film-Noir",107.0,Film,Passed,-,NaN,Mild,NaN,Mild,Mild
6175,"100,668","Crime, Drama, Thriller",117.0,Film,R,-,Severe,Moderate,Severe,Severe,Severe
6176,887,"Comedy, Drama, Romance",100.0,Film,PG-13,-,NaN,NaN,Mild,Moderate,NaN
6177,"203,578","Action, Sci-Fi, Thriller",105.0,Film,R,-,Mild,Severe,Severe,Mild,Moderate

### - Menggunakan loc untuk slicing

In [37]:
df = pd.read_csv('imdb.csv')
slice_loc = df.loc[133:, "Votes":]
slice_loc

,Votes,Genre,Duration,Type,Certificate,Episodes,Nudity,Violence,Profanity,Alcohol,Frightening
133,"208,457","Action, Adventure, Fantasy",NaN,Series,TV-14,7,NaN,Moderate,Mild,NaN,Moderate
134,"201,983",Comedy,22.0,Series,TV-MA,157,Moderate,Mild,Severe,Severe,Mild
135,No Votes,"Drama, Horror, Thriller",88.0,Film,NaN,-,No Rate,No Rate,No Rate,No Rate,No Rate
136,"39,602",Comedy,22.0,Series,TV-14,113,Mild,Mild,Mild,Mild,NaN
137,"22,186",Drama,60.0,Series,TV-14,76,Mild,Mild,Mild,Mild,Mild
...,...,...,...,...,...,...,...,...,...,...,...
6173,"37,492",Horror,91.0,Film,Not Rated,-,Severe,Severe,Severe,Mild,Severe
6174,"150,448","Crime, Drama, Film-Noir",107.0,Film,Passed,-,NaN,Mild,NaN,Mild,Mild
6175,"100,668","Crime, Drama, Thriller",117.0,Film,R,-,Severe,Moderate,Severe,Severe,Severe
6176,887,"Comedy, Drama, Romance",100.0,Film,PG-13,-,NaN,NaN,Mild,Moderate,NaN
6177,"203,578","Action, Sci-Fi, Thriller",105.0,Film,R,-,Mild,Severe,Severe,Mild,Moderate

## 5. Tampilkan jumlah nilai dari semua attribute yang bernilai object.

In [68]:
import pandas as pd

df = pd.read_csv('imdb.csv')

# Memilih kolom-kolom dengan tipe data objek (kategorikal)
objek = df.select_dtypes(include=['object'])

# Menghitung jumlah variasi (nilai unik) dalam setiap kolom kategorikal
jumlah_objek = objek.nunique()

# Membuat DataFrame untuk tabel variasi
tabel = pd.DataFrame({
    '= No. =': range(len(jumlah_objek)),
    '= Nama Atribut =': jumlah_objek.index, 
    '= Jumlah Nilai ': jumlah_objek.values})

print("===== Tabel  =====")
print(tabel.to_string(index=False, justify='center'))

===== Tabel  =====
 = No. = = Nama Atribut =  = Jumlah Nilai
    0             Name          4820
    1             Rate            77
    2            Votes          4802
    3            Genre           377
    4             Type             2
    5      Certificate            22
    6         Episodes           284
    7           Nudity             4
    8         Violence             4
    9        Profanity             4
   10          Alcohol             4
   11      Frightening             4